[user]
	name = Tharre
	email = tharre3@gmail.com
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	la = log --oneline --decorate --all --graph
[branch]
	autosetuprebase = always
[merge]
	tool = vimdiff
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = false
